<div class="loader">
  <img src="https://raw.githubusercontent.com/FRACTAL-GAME-STUDIOS/store/3290abded59543998fb29c3860b71f4ad7d6a8ca/assets/enblanco.svg" alt="logo fractal">
  <figure class='spinner'>
      <div class="spinner-container" id="item-1">
          <div class="spinner-element"></div>
      </div>
      <div class="spinner-container" id="item-2">
          <div class="spinner-element"></div>
      </div>
      <div class="spinner-container" id="item-3">
          <div class="spinner-element"></div>
      </div>
      <div class="spinner-container" id="item-4">
          <div class="spinner-element"></div>
      </div>
      <div class="spinner-container" id="item-5">
          <div class="spinner-element"></div>
      </div>
      <div class="spinner-container" id="item-6">
          <div class="spinner-element"></div>
      </div>
  </figure>
</div>
