
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
}
.loader img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 33px;
  animation: hideLogo 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
.spinner-container {
  position: relative;
}
.spinner-element {
  display: block;
  width: 21px;
  height: 0.15em;
  background: #fff;
  border-radius: 1em;
  animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
#item-1 {
  transform: rotate(32deg) translateX(2px) translateY(-12px);
  animation: spin_item_1 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
#item-2 {
  transform: rotate(-34deg) translateX(0px) translateY(-13.5px);
  animation: spin_item_2 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
#item-3 {
  transform: rotate(90deg) translateX(0px) translateY(-15.9px);
  animation: spin_item_3 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
#item-4 {
  transform: rotate(90deg) translateX(-1px) translateY(15.5px);
  animation: spin_item_4 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
#item-5 {
  transform: rotate(32deg) translateX(-0.5px) translateY(13.5px);
  animation: spin_item_5 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
#item-6 {
  transform: rotate(-35deg) translateX(2px) translateY(11.5px);
  animation: spin_item_6 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
.loader .text {
  position: absolute;
  color: white;
  font-size: 0.5em;
}
@keyframes spin_full {
  from {
      transform: rotate(0deg);
 }
  to {
      transform: rotate(360deg);
 }
}
@keyframes hideLogo {
  0% {
      opacity: 0;
 }
  70% {
      opacity: 0;
 }
  100% {
      opacity: 1;
 }
}
